# ----------------------------------------------------------------
# ARQUIVOS E PASTAS GERAIS DO SISTEMA
# ----------------------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------------------
# VSCODE
# ----------------------------------------------------------------
.vscode/

# ----------------------------------------------------------------
# PYTHON
# ----------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.env
.env/
# ----------------------------------------------------------------
# NODE / VUE.JS
# ----------------------------------------------------------------
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------------------------------
# LOGS
# ----------------------------------------------------------------
*.log

# ----------------------------------------------------------------
# OUTROS (caso deseje)
# ----------------------------------------------------------------
# Se você não quiser versionar o package-lock.json, descomente a linha abaixo
package-lock.json
